// Configuration settings for building GRDB with SQLCipher support
OTHER_CFLAGS = $(inherited) -DSQLCIPHER_CRYPTO_CC -DGRDB_SQLITE_ENABLE_PREUPDATE_HOOK=1 -DSQLITE_HAS_CODEC=1 -DSQLITE_ENABLE_FTS5=1
OTHER_SWIFT_FLAGS = $(inherited) -DSQLITE_HAS_CODEC -DGRDBCIPHER -DGRDBSQLITE_INCLUDED
OTHER_LDFLAGS = $(inherited) -framework Security
LIBRARY_SEARCH_PATHS = $(inherited)
FRAMEWORK_SEARCH_PATHS = $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) SQLITE_HAS_CODEC=1 SQLCIPHER_CRYPTO_CC=1 